flows.json
[{"id":"e753a779.9577c","type":"subflow","name":"w3id login","info":"This node checks to see if the user is logged in.\nIf not, it stores the original URL and redirects\nto /login. On a successful return, it resumes at\nthe stored URL","in":[{"x":52.5,"y":48,"wires":[{"id":"ce27d61f.a65ff"}]}],"out":[{"x":399,"y":122,"wires":[{"id":"ce27d61f.a65ff","port":1}]}]},{"id":"ce27d61f.a65ff","type":"switch","z":"e753a779.9577c","name":"User null?","property":"req.user","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":171.5,"y":48,"wires":[["323cf43.8402c8c"],[]]},{"id":"323cf43.8402c8c","type":"change","z":"e753a779.9577c","name":"Redirect to login","rules":[{"t":"set","p":"req.session.originalUrl","pt":"msg","to":"req.originalUrl","tot":"msg"},{"t":"set","p":"statusCode","pt":"msg","to":"307","tot":"num"},{"t":"set","p":"headers.location","pt":"msg","to":"/login","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":392,"y":42,"wires":[["26175a47.9858ce"]]},{"id":"26175a47.9858ce","type":"http response","z":"e753a779.9577c","name":"","x":581.5,"y":42.75,"wires":[]},{"id":"c29ca6bd.499f4","type":"subflow:e753a779.9577c","z":"a58236f.2326948","name":"","x":340,"y":120,"wires":[["e03469f7.dcafd"]]},{"id":"5a773b41.fc54cc","type":"http in","z":"a58236f.2326948","name":"","url":"/AuthTest","method":"get","upload":false,"swaggerDoc":"","x":190,"y":120,"wires":[["c29ca6bd.499f4"]]},{"id":"95cda460.664ff8","type":"http response","z":"a58236f.2326948","name":"","statusCode":"","headers":{},"x":650,"y":120,"wires":[]},{"id":"e03469f7.dcafd","type":"template","z":"a58236f.2326948","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hey Hey Hey","output":"str","x":500,"y":120,"wires":[["95cda460.664ff8"]]}]
